/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* Universal Styles */

body {
    font-family: 'Open Sans', sans-serif;;
}

/* Links */

a {
    text-decoration: none;
}

a:link {
    color: black;
  }

a:visited {
    color: black;
  }
  
a:hover {
    color: hotpink;
  }

/* Header */

header {
    display: flex;
    z-index: 5;
    width: 100%;
    overflow: hidden;
}

.header-container {
    margin: 0 auto;
    display: flex;
    width: 1140px;
    justify-content: end;
    text-align: right;
}

header nav {
    display: flex;
}

header ul {
    display: flex;
}

header li {
    padding: 2rem;
    font-size: 1.1rem;
}

.mobile {
    display: none;
}

/* Mobile */

@media only screen and (max-width:650px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .header-container {
        width: 340px;
    }

    #menu-icon {
        width: 30px;
        height: auto;
        padding-top: 2rem;
    }

    #myLinks {
        display: none;
      }
    
    .links-container {
        display: flex;
        width: 310px;
        height: 64px;
        justify-content: center;
        text-align: center;
    }

    .links-container ul {
        justify-content: space-evenly;
        text-align: center;
        width: 310px;
        max-width: 100%;
        margin-top: auto;
    }

    .links-container li {
        max-width: 100%;
        max-height: 100%;
        padding: 0.5rem;
        font-size: 1.3rem;
        border: 2px #333333 solid;
        border-radius: 15px;
        color: white;
        background-color: #333333;
    }        
}

/* Main */

main {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 6rem;
    width: 1140px;
    margin: 0 auto;
}

.photo {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40%;
}

.photo img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.text {
    flex-direction: column;
    justify-content: left;
    display: flex;
    width: 60%;
}

h1 {
    font-size: 2rem;
    padding: 1rem;
    font-weight: 500;
}

h2 {
    font-size: 1.1rem;
    padding: 1rem;
    font-weight: 500;
}

p {
    padding: 1rem;
    line-height: 1.5;
}

.socialicon {
    padding: 1rem;
    height: 50px;
    width: auto;
}

/* Mobile */

@media only screen and (max-width:650px) {
     main {
         flex-direction: column;
         top: 3rem;
         width: 340px;
         overflow: hidden;
     }

     .photo {
         width: 100%;
         margin-bottom: 2rem;
     }

     .photo img {
         height: 220px;
         width: 220px;
     }

     .text {
         width: 100%;
     }

     h1 {
         font-weight: 400;
         font-size: 1.5rem;
     }

     p {
        text-align: justify;
     }
}

/* Footer */

footer {
    width: 100%;
    display: flex;
    position:absolute;
    bottom:0;
    text-align: center;
    justify-content: center;
    background-color: #333333;
    color: white;
    height: 3rem;
}

footer span {
    padding: 1rem;
    font-size: 0.8rem;
}