/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* Universal Styles */

body {
    font-family: 'Open Sans', sans-serif;;
}

/* Links */

a {
    text-decoration: none;
}

a:link {
    color: black;
  }

a:visited {
    color: black;
  }
  
a:hover {
    color: hotpink;
  }

/* Header */

header {
    display: flex;
    z-index: 5;
    width: 100%;
    overflow: hidden;
}

.header-container {
    margin: 0 auto;
    display: flex;
    width: 1140px;
    justify-content: end;
    text-align: right;
}

header nav {
    display: flex;
}

header ul {
    display: flex;
}

header li {
    padding: 2rem;
    font-size: 1.1rem;
}

.mobile {
    display: none;
}

/* Mobile */

@media only screen and (max-width:650px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .header-container {
        width: 340px;
    }

    #menu-icon {
        width: 30px;
        height: auto;
        margin-top: 2rem;: 2rem;
    }

    #myLinks {
        display: none;
      }
    
    .links-container {
        display: flex;
        width: 310px;
        height: 64px;
        justify-content: center;
        text-align: center;
    }

    .links-container ul {
        justify-content: space-evenly;
        text-align: center;
        width: 310px;
        max-width: 100%;
        margin-top: auto;
    }

    .links-container li {
        max-width: 100%;
        max-height: 100%;
        padding: 0.5rem;
        font-size: 1.3rem;
        border: 2px #333333 solid;
        border-radius: 15px;
        color: white;
        background-color: #333333;
    }
        
}

/* Main */

main {
    position: relative;
    top: 3rem;
    width: 1140px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
}

#arrow {
    margin-top: 1rem;
    height: 30px;
    width: auto;
}

/* Mobile */

@media only screen and (max-width:650px) {
    main {
        width: 340px;
    }

    h1 {
        font-size: 1.5rem;
    }
}
/* Gallery */

.gallery {
    display: grid;
    margin: 2rem 0;
    grid-template: repeat(3, 330px) / repeat(3, 1fr);
    gap: 0.5rem;
}

.big-photo {
    grid-column: span 2;
}

#photo1 {
    background-image: url(./images/1.jpg);
    background-size: cover;
    background-position: center; 
}

#photo2 {
    background-image: url(./images/2.jpg);
    background-size: cover;
    background-position: center; 
}

#photo3 {
    background-image: url(./images/3.jpg);
    background-size: cover;
    background-position: center; 
}

#photo4 {
    background-image: url(./images/4.jpg);
    background-size: cover;
    background-position: center; 
}

#photo5 {
    background-image: url(./images/5.jpg);
    background-size: cover;
    background-position: center; 
}

#photo6 {
    background-image: url(./images/6.jpg);
    background-size: cover;
    background-position: center; 
}

#photo7 {
    background-image: url(./images/7.jpg);
    background-size: cover;
    background-position: center; 
}

/* Mobile */

@media only screen and (max-width:650px) {
    .gallery {
        display: grid;
        margin: 2rem 0;
        grid-template: 300px 165px 300px 300px 300px 165px 300px / 1fr;
        gap: 0.5rem;
    }

    .big-photo {
        grid-column: span 1;
    }
}

/* Footer */

footer {
    width: 100%;
    display: flex;
    position: relative;
    top: 10rem;
    text-align: center;
    justify-content: center;
    background-color: #333333;
    color: white;
    height: 3rem;
}

footer span {
    padding: 1rem;
    font-size: 0.8rem;
}